{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div class="title p-[4vw] flex justify-between items-center">
    <div>
        <h1 class="text-[10vw] font-bold text-white">안녕하세요,</h1>
        <h1 class="text-[10vw] font-bold text-white">{{user.name}}기사님</h1>
    </div>
    <div class="profile bg-white rounded-full w-[20vw] h-[20vw]">
        <img src="{{user.photo_url}}" alt="profile" class="w-full h-full object-cover rounded-full">
    </div>
</div>
<div class="date text-[5vw] px-[4vw]">
    오늘은 {{month}}월 {{date}}일 {{dayOfWeek}}요일입니다.
</div>
<div class="mt-[5vw] text-[4.5vw] flex justify-center items-center gap-[15vw]">
    <div class="order_btn border-t-2 p-[1vw]">
        ORDER
    </div>
    <div class="my_btn text-[#cccccc] p-[1vw]">
        MY LIST
    </div>
</div>
<div class="order_list px-[4vw] py-[2vh] h-full max-h-[47vh] mt-[1.5vw] flex flex-col gap-[3vw] overflow-y-auto">
    {% for item in resData %}
    <div class="card p-[1vw] bg-white rounded-[3.5vw]">
        <div class="card_head pb-[1vw] flex justify-between border-b-2 border-dotted border-[#cccccc]">
            <p class="px-[2vw] text-[4vw] text-[#ABABAB]">
                ORDER
            </p>
            <p class="order_number hidden text-[#ABABAB]">
                {{item.re_num}}
            </p>
        </div>
        <div class="card_body px-[2vw] pt-[3vw] text-black text-[4vw]">
            <div class="from">
                <div class="from_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#BAC0C8] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        F
                    </p>
                    <p class="from_name">
                        {{item.delivery_start}}
                    </p>
                </div>
                <div class="from_body ml-[9vw]">
                    {{item.delivery_date}}
                </div>
            </div>
            <div class="to">
                <div class="to_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#2565CB] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        T
                    </p>
                    <p class="to_name">
                        {{item.delivery_arrive}}
                    </p>
                </div>
                <div class="to_body ml-[9vw]">
                    도착시간 없음..
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="my_list p-[4vw] h-full max-h-[47vh] mt-[1.5vw] hidden flex-col gap-[3vw] overflow-y-auto">
    <p class="text-[4vw]">
        배송대기
    </p>
    <div class="card p-[1vw] bg-white rounded-[3.5vw]">
        <div class="card_body p-[2vw] text-black text-[4vw]">
            <div class="from">
                <div class="from_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#BAC0C8] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        F
                    </p>
                    <p>
                        경주역
                    </p>
                </div>
                <div class="from_body ml-[9vw]">
                    2020-01-01 / 12:00
                </div>
            </div>
            <div class="to">
                <div class="to_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#2565CB] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        T
                    </p>
                    <p>
                        경주역
                    </p>
                </div>
                <div class="to_body ml-[9vw]">
                    2020-01-01 / 12:00
                </div>
            </div>

        </div>
    </div>
    <p class="text-[4vw]">
        배송중
    </p>
    <div class="card p-[1vw] bg-white rounded-[3.5vw]">
        <div class="card_body p-[2vw] text-black text-[4vw]">
            <div class="from">
                <div class="from_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#BAC0C8] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        F
                    </p>
                    <p>
                        경주역
                    </p>
                </div>
                <div class="from_body ml-[9vw]">
                    2020-01-01 / 12:00
                </div>
            </div>
            <div class="to">
                <div class="to_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#2565CB] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        T
                    </p>
                    <p>
                        경주역
                    </p>
                </div>
                <div class="to_body ml-[9vw]">
                    2020-01-01 / 12:00
                </div>
            </div>
        </div>
    </div>
    <p class="text-[4vw]">
        배송완료
    </p>
    <div class="card p-[1vw] bg-white rounded-[3.5vw]">
        <div class="card_body p-[2vw] text-black text-[4vw]">
            <div class="from">
                <div class="from_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#BAC0C8] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        F
                    </p>
                    <p>
                        경주역
                    </p>
                </div>
                <div class="from_body ml-[9vw]">
                    2020-01-01 / 12:00
                </div>
            </div>
            <div class="to">
                <div class="to_head flex items-center gap-[2vw]">
                    <p class="text-white bg-[#2565CB] w-[7vw] h-[7vw] rounded-full flex justify-center items-center">
                        T
                    </p>
                    <p>
                        경주역
                    </p>
                </div>
                <div class="to_body ml-[9vw]">
                    2020-01-01 / 12:00
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    const orderBtn = document.querySelector('.order_btn');
    const myBtn = document.querySelector('.my_btn');
    const orderList = document.querySelector('.order_list');
    const myList = document.querySelector('.my_list');
    const cards = document.querySelectorAll('.card');

    orderBtn.addEventListener('click', () => {
        if (!orderBtn.classList.contains('border-t-2')) {
            orderBtn.classList.add('border-t-2');
            orderBtn.classList.remove('text-[#cccccc]');
            myBtn.classList.remove('border-t-2');
            myBtn.classList.add('text-[#cccccc]');
            orderList.classList.remove('hidden');
            myList.classList.add('hidden');
        }
    });
    myBtn.addEventListener('click', () => {
        if (!myBtn.classList.contains('border-t-2')) {
            myBtn.classList.add('border-t-2');
            myBtn.classList.remove('text-[#cccccc]');
            orderBtn.classList.remove('border-t-2');
            orderBtn.classList.add('text-[#cccccc]');
            orderList.classList.add('hidden');
            myList.classList.remove('hidden');
            myList.classList.add('flex');
        }
    });

    cards.forEach(card => {
        card.addEventListener('click', async () => {
            const res_num = card.querySelector('.order_number').textContent.trim();
            console.log('res_num:',res_num);
            console.log('상세보기');
            
            // 쿼리 파라미터로 res_num을 전달하여 detail 페이지로 이동
            window.location.href = `/detail?re_num=${res_num}`;
        });
    });

</script>
{% endblock %}