{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block content %}

<div class="container">
    <!-- Top -->
    <div class="name-top px-[7vw] py-[2vw] mt-[15vw]">
        <div class="flex justify-end">
            <!-- bold 기사 이름 -->
            <h1 class="text-[7vw] text-right"> 기사님의</h1>
        </div>
        <h1 class="text-[7vw] text-right">정산 금액은</h1>
        <div class="flex justify-end">
            <!-- bold 정산 금액 -->
            <h1 class="text-[7vw] text-right">원 입니다.</h1>
        </div>
    </div>
    <!-- Middle -->
    <div class="name-middle absolute left-1/2 -translate-x-1/2 top-[50vw] px-[8vw] py-[2vw]
    flex justify-around bg-white rounded-xl shadow-lg w-[85vw] min-h-[16vw] items-center">
        <button class="bg-transparent border-none cursor-pointer" type="button" onclick="prev()">
            <img src="../public/icons/prev.png" alt="prev" class="w-[7vw] h-[7vw]">
        </button>
        <div class="name-totaldata">
            <div class="flex justify-center">
                <!-- bold 월 -->
                <p class="text-[7vw] text-bold text-black text-center">월</p>
            </div>
            <div class="flex justify-between">
                <p class="text-[7vw] text-bold text-black text-center">TOTAL</p>
                <!-- bold purple 월별 토탈 건수 -->
            </div>
        </div>
        <button class="bg-transparent border-none cursor-pointer" type="button" onclick="next()">
            <img src="../public/icons/next.png" alt="next" class="w-[7vw] h-[7vw]">
        </button>
    </div>

    <!-- list -->
    <div class=" bg-white mt-[15vw] overflow-y-auto pb-[100vw] mb-[13vw]">
        <div class="flex justify-between mt-[15vw] text-black text-[3vw] px-[10vw] py-[2vw] border-b-[0.5vw] border-dotted border-black">
            <p>날짜</p>
            <div class="flex justify-end gap-[7vw]">
                <p>건수</p>
                <p>상세</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
{% endblock %}